<launch>
    <!-- tf satic -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom 100" /> -->
    <node pkg="vwio_eskf" name="eskf_localization" type="eskf_localization" output="screen"/>
    <!--display rviz-->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find vwio_eskf)/rviz/imu_gnss_eskf_localization.rviz" required="true"/>
</launch>